.drawer {
    width: 240px;
    flex-shrink: 0;
}

.drawerContent {
    flex-grow: 1;
}

.drawerPaper {
    width: 240px;
}

.menu {
    display: flex;
    flex-direction: column;
    height: 100vh;

    h1 {
        display: flex;
        color: grey;
        justify-content: space-around;
        align-items: center;
        padding: 0 5px;

    }
    .signOutButton {
        margin-top: auto;
    }
}