.SignUpBox {
    width: 500px;
    display: flex;
    justify-content: center;
}

.SignUpForm {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;

    .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}